<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.popkova.russianlanguageapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity" />
        <activity android:name=".Lesson1.Lesson_1" />
        <activity android:name=".Lesson1.Lesson_1_grammar_1" />
        <activity android:name=".Lesson1.Lesson_1_grammar_1_results" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Lesson1.Lesson_1_vocabulary_1" />
        <activity android:name=".Lesson1.Lesson_1_grammar_2" />
        <activity android:name=".Lesson1.Lesson_1_grammar_3" />
        <activity android:name=".Lesson1.Lesson_1_grammar_1_practise" />
        <activity android:name=".Lesson1.Lesson_1_grammar_2_practise" />
        <activity android:name=".Lesson1.Lesson_1_grammar_2_results" />
        <activity android:name=".Lesson1.Lesson_1_grammar_3_practise" />
        <activity android:name=".Lesson1.Lesson_1_grammar_3_results" />
        <activity android:name=".Lesson2.Lesson_2" />
        <activity android:name=".Lesson2.Lesson_2_vocabulary_1" />
        <activity android:name=".Lesson2.Lesson_2_vocabulary_2" />
        <activity android:name=".Lesson2.Lesson_2_vocabulary_3" />
        <activity android:name=".Lesson2.Lesson_2_grammar_1" />
        <activity android:name=".Lesson2.Lesson_2_grammar_2" />
        <activity android:name=".Lesson2.Lesson_2_grammar_1_practise" />
        <activity android:name=".Lesson2.Lesson_2_grammar_1_results" />
        <activity android:name=".Lesson2.Lesson_2_grammar_3_practise" />
        <activity android:name=".Lesson2.Lesson_2_grammar_3_results" />
        <activity android:name=".Lesson2.Lesson_2_grammar_2_practise" />
        <activity android:name=".Lesson3.Lesson_3" />
        <activity android:name=".Lesson3.Lesson_3_vocabulary_1" />
        <activity android:name=".Lesson3.Lesson_3_grammar_1" />
        <activity android:name=".Lesson3.Lesson_3_grammar_2" />
        <activity android:name=".Lesson3.Lesson_3_grammar_3" />
        <activity android:name=".Lesson3.Lesson_3_grammar_2_practise" />
        <activity android:name=".Lesson3.Lesson_3_grammar_3_practise" />
        <activity android:name=".Lesson3.Lesson_3_grammar_2_results" />
        <activity android:name=".Lesson3.Lesson_3_grammar_3_results" />
        <activity android:name=".Lesson4.Lesson_4" />
        <activity android:name=".Lesson4.Lesson_4_vocabulary_1" />
        <activity android:name=".Lesson4.Lesson_4_grammar_1" />
        <activity android:name=".Lesson4.Lesson_4_grammar_1_practise" />
        <activity android:name=".Lesson4.Lesson_4_grammar_1_results" />
        <activity android:name=".Lesson2.Lesson_2_grammar_2_results" />
        <activity android:name=".Lesson5.Lesson_5" />
        <activity android:name=".Lesson5.Lesson_5_vocabulary_1" />
        <activity android:name=".Lesson5.Lesson_5_grammar_1" />
        <activity android:name=".Lesson5.Lesson_5_grammar_1_practise" />
        <activity android:name=".Lesson5.Lesson_5_grammar_1_results" />
        <activity android:name=".Lesson5.Lesson_5_grammar_2" />
        <activity android:name=".Lesson5.Lesson_5_grammar_2_practise" />
        <activity android:name=".Lesson5.Lesson_5_grammar_2_results" />
        <activity android:name=".Lesson6.Lesson_6" />
        <activity android:name=".Lesson6.Lesson_6_vocabulary_1" />
        <activity android:name=".Lesson6.Lesson_6_grammar_1" />
        <activity android:name=".Lesson6.Lesson_6_grammar_1_practise" />
        <activity android:name=".Lesson6.Lesson_6_grammar_1_results" />
        <activity android:name=".Lesson7.Lesson_7" />
        <activity android:name=".Lesson7.Lesson_7_vocabulary_1" />
        <activity android:name=".Lesson7.Lesson_7_grammar_1" />
        <activity android:name=".Lesson7.Lesson_7_grammar_1_practise" />
        <activity android:name=".Lesson7.Lesson_7_grammar_1_results" />
        <activity android:name=".Lesson7.Lesson_7_grammar_2" />
        <activity android:name=".Lesson7.Lesson_7_grammar_2_practise" />
        <activity android:name=".Lesson7.Lesson_7_grammar_2_results" />
        <activity android:name=".Lesson8.Lesson_8" />
        <activity android:name=".Lesson8.Lesson_8_vocabulary_1" />
        <activity android:name=".Lesson8.Lesson_8_grammar_1" />
        <activity android:name=".Lesson8.Lesson_8_grammar_1_practise" />
        <activity android:name=".Lesson8.Lesson_8_grammar_1_results" />
        <activity android:name=".Lesson8.Lesson_8_grammar_2" />
        <activity android:name=".Lesson8.Lesson_8_grammar_2_practise" />
        <activity android:name=".Lesson8.Lesson_8_grammar_2_results" />
        <activity android:name=".Lesson9.Lesson_9" />
        <activity android:name=".Lesson9.Lesson_9_vocabulary_1" />
        <activity android:name=".Lesson9.Lesson_9_grammar_1" />
        <activity android:name=".Lesson9.Lesson_9_grammar_1_practise" />
        <activity android:name=".Lesson9.Lesson_9_grammar_1_results" />
        <activity android:name=".Lesson9.Lesson_9_grammar_2" />
        <activity android:name=".Lesson9.Lesson_9_grammar_2_practise" />
        <activity android:name=".Lesson9.Lesson_9_grammar_2_results" />
        <activity android:name=".Lesson10.Lesson_10" />
        <activity android:name=".Lesson10.Lesson_10_vocabulary_1" />
        <activity android:name=".Lesson10.Lesson_10_grammar_1" />
        <activity android:name=".Lesson10.Lesson_10_grammar_1_practise" />
        <activity android:name=".Lesson10.Lesson_10_grammar_1_results" />
        <activity android:name=".Lesson10.Lesson_10_grammar_2" />
        <activity android:name=".Lesson10.Lesson_10_grammar_2_practise" />
        <activity android:name=".Lesson10.Lesson_10_grammar_2_results" />
        <activity android:name=".ListLessonsActivity" />
        <activity android:name=".Manual"></activity>
    </application>

</manifest>